* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
::-webkit-scrollbar {
  border-radius: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6d6a6a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(7, 132, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 63, 189);
}

.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.nav-link {
  color: beige;
}

.Input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  width: 80%;
  margin: 20px auto;
  background-color: #e8e8e8;
}
.input__head {
  border-bottom: 1px solid rgb(137, 138, 138);
  border-radius: 2px 2px 0 0;
  background-color: #e8e8e8;
  padding: 1rem;
}
.input_area {
  border: none;
  width: 100%;
  height: 120px;
  padding: 5px;
  font-size: 30px;
}

.input_area:focus {
  outline: none;
}

.Post {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  width: 80%;
  padding: 15px;
  margin: 20px auto;
  background-color: #e8e8e8;
}

.Post__title {
  border-bottom: 1px solid rgb(137, 138, 138);
  border-radius: 2px 2px 0 0;
  background-color: #e8e8e8;
  font-size: 1.5rem;
  padding: 1rem;
}

.Post__delete {
  border: none;
  background: none;
  padding: 0;
  float: right;
  cursor: pointer;
}

img {
  width: 100%;
}

nav {
  width: 100%;
}
